@import 'config';

.custom-card {
    width: 280px;
    box-sizing:border-box;
    padding:0.5rem 0;
    margin-top:1.5rem;

    &-img-top {
        width:260px;
        height:300px;
        display:block;
        margin:0 auto;
    }

    &-body {
        text-align: center;
    }

    &:hover {
        background-color: #303030;
        color: set-text-color(#303030)
    }
}